<configuration>
  <SearchRoot>LDAP://WKS01:389/OU=ANZ,DC=Stratatel,DC=com,DC=au</SearchRoot>
  <UserRoot>LDAP://WKS01:389/OU=Users,OU=ANZ,DC=Stratatel,DC=com,DC=au</UserRoot>
  <PhoneRoot>LDAP://WKS01:389/OU=Phones,OU=ANZ,DC=Stratatel,DC=com,DC=au</PhoneRoot>
  <OperatorRoot1>Fred|LDAP://WKS01:389/OU=Phones,OU=ANZ,DC=Stratatel,DC=com,DC=au</OperatorRoot1>
  <OperatorRoot2>Jack|LDAP://WKS01:389/OU=Phones,OU=ANZ,DC=Stratatel,DC=com,DC=au</OperatorRoot2>
  <OperatorRoot3>Bill|LDAP://WKS01:389/OU=Phones,OU=ANZ,DC=Stratatel,DC=com,DC=au</OperatorRoot3>
</configuration>